body{
    font-family: "Montserrat";
}
#title{
    background-color: #ff4c68;

}
.container-fluid{
    padding: 3% 20%;
}
#features{
    font-family:"Montserrat-bold";
    margin: 5% auto;
    text-align: center;
}
h1{
font-family:"Montserrat-black";
font-size: 3.5rem;
line-height: 1.5;
font-weight: bolder;
color:white;
}
h2{
    font-family: "Montserrat-bold";
    text-align: center;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.5;
    
}
p{

    color: #8f8f8f;
    text-align: center;
}
/* Navigation Bar */

.navbar{
    padding:0 0 4rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
/* download button */
.download-but{
    margin: 5% 3% 5% 0;
}
/* iphone image */
.rotateImg{
    width: 60%;
    transform: rotate(25deg);
}
/* Features */
.icon{
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;;
}
/* testimonial */
#testimonials{
   
    background-color:#ff4c68 ;
    text-align: center;
    color: #fff;
}
.carousel-item{
    padding:5% 13% ;

}
.dogonew{
    width: 10%;
    border-radius: 100%;
}
/* press */
#press{
    background-color: #ff4c68;
    text-align: center;
}
.logoicon{
    padding: 2% 2%;
    width: 15%;
    margin-bottom: 3%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
}
/* pricing */

#pricing{
    text-align: center;
}
.card{
    color: black;
}